<!DOCTYPE html>
<html lang="en">
<head>

 {{>headerlinks}}

</head>

<body>
    {{>navbar}}

     <!--main header-->
   <div class = "container-fluid main_header">
     <div class = "row ">
        <div class = "col-md-10 col-12 mx-auto">
            <div class="row row1">
             <!--left side div-->
             <div class = "col-md-6 col-12 main_header_left">
              <p>This is The index page for the student acknowledgement.</p>
              <h1>Get the latest<span class="text-clr">Required </span> Info of Courses </h1>
              
             </div> 


             <!--right side div-->
              <div class = "col-md-6 col-12 main_header_left">
                <h3> The available courses are as given below</h3>
                   
                   <h5> 1.Computer Programming</h5>
                   <h5> 2.Information Science</h5>
                    <h5>3.Networking</h5>
                    <h5>4.Operating Systems</h5>
                    <h5>5.Artificial Intelligence</h5>

              
              
             </div> 

            </div>
        </div>
    </div>
</div>
    
    {{>footer}}
</body>
</html>